In [1]:
import pandas as pd
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None) 
pd.set_option('display.colheader_justify', 'center') 

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('birthday_challenge.txt', delimiter='\t')

In [3]:
df.head()

  date of birth  number of people
0   1900_01_01           8
1   1900_01_02           1
2   1900_01_04           1
3   1900_01_06           1
4   1900_01_10           1

In [4]:
df.tail()

      date of birth  number of people
29809   1999_11_17           1
29810   1999_11_22           1
29811   1999_11_28           1
29812   1999_12_02           1
29813   1999_12_20           1

In [18]:
df.describe()

       number of people
count    29814.000000
mean        69.355974
std         64.154373
min          1.000000
25%         14.000000
50%         47.000000
75%        120.000000
max        541.000000

In [5]:
df.sort_values(by='number of people', ascending=False).head(100)

      date of birth  number of people
23579   1968_01_01          541
22849   1966_01_01          533
22484   1965_01_01          533
22118   1964_01_01          527
24310   1970_01_01          508
20657   1960_01_01          505
23214   1967_01_01          479
23005   1966_06_06          452
23945   1969_01_01          451
21023   1961_01_01          445
21388   1962_01_01          444
21753   1963_01_01          434
19927   1958_01_01          425
21420   1962_02_02          414
25040   1972_01_01          405
24342   1970_02_02          398
23611   1968_02_02          393
22766   1965_10_10          393
19196   1956_01_01          393
22401   1964_10_10          393
22212   1964_04_04          392
23862   1968_10_10          390
13352   1940_01_01          390
19562   1957_01_01          389
21814   1963_03_03          389
24675   1971_01_01          387
20292   1959_01_01          377
9700    1930_01_01          372
22640   1965_06_06          370
23736   1968_06_06          369
17005   1950_01_01          368
11891   1936_01_01          356
22881   1966_02_02          354
24466   1970_06_06          354
24227   1969_10_10          353
22180   1964_03_03          352
23275   1967_03_03          349
18831   1955_01_01          349
22275   1964_06_06          349
23704   1968_05_05          349
23641   1968_03_03          348
24006   1969_03_03          347
23977   1969_02_02          346
22035   1963_10_10          345
21670   1962_10_10          342
22608   1965_05_05          342
23131   1966_10_10          342
21544   1962_06_06          342
22150   1964_02_02          339
20814   1960_06_06          339
24592   1970_10_10          339
23246   1967_02_02          338
18466   1954_01_01          336
23673   1968_04_04          334
20689   1960_02_02          334
24038   1969_04_04          333
25197   1972_06_06          332
22910   1966_03_03          332
22516   1965_02_02          330
21785   1963_02_02          330
17735   1952_01_01          330
24371   1970_03_03          329
18101   1953_01_01          329
12257   1937_01_01          329
12622   1938_01_01          326
22942   1966_04_04          326
25072   1972_02_02          325
20083   1958_06_06          325
22477   1964_12_25          322
12987   1939_01_01          321
22577   1965_04_04          321
23496   1967_10_10          320
20209   1958_10_10          318
25406   1973_01_01          318
23938   1968_12_25          315
10430   1932_01_01          312
22545   1965_03_03          312
21449   1962_03_03          311
24101   1969_06_06          311
21846   1963_04_04          310
21481   1962_04_04          310
23338   1967_05_05          310
22842   1965_12_25          309
21512   1962_05_05          305
8969    1928_01_01          303
23925   1968_12_12          302
20719   1960_03_03          301
11161   1934_01_01          301
24303   1969_12_25          301
10796   1933_01_01          300
23307   1967_04_04          299
11526   1935_01_01          298
21909   1963_06_06          298
20574   1959_10_10          297
24069   1969_05_05          297
22243   1964_05_05          296
19844   1957_10_10          296
23799   1968_08_08          296
9335    1929_01_01          295
23194   1966_12_12          295

In [6]:
month_nums = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
total = 0

for i in month_nums:
    matches = (df['date of birth'].str.slice(start=5,stop=7) == i) & (df['date of birth'].str.slice(start=8,stop=10) == i)
    temp_df = df[matches]
    res = temp_df['number of people'].sum()
    total += res
    print(f'Month & day is {i}: {res}')

print('Percentage of people that fit pattern: ' + '{:.2%}'.format(total/df['number of people'].sum()))

Month & day is 01: 19951
Month & day is 02: 10436
Month & day is 03: 9986
Month & day is 04: 9145
Month & day is 05: 8672
Month & day is 06: 11061
Month & day is 07: 7668
Month & day is 08: 7813
Month & day is 09: 7550
Month & day is 10: 11235
Month & day is 11: 7376
Month & day is 12: 7944
Percentage of people that fit pattern: 5.75%

In [7]:
df2 = df.copy()

In [8]:
def remove_year(dob):
    return dob[5:]

In [9]:
df2['date of birth'] = df2['date of birth'].apply(remove_year)

In [10]:
df2['date of birth'].value_counts().describe()

count    366.000000
mean      81.459016
std        3.672514
min       21.000000
25%       80.000000
50%       81.000000
75%       83.000000
max       92.000000
Name: date of birth, dtype: float64

In [11]:
df2['date of birth'].value_counts().head()

01_01    92
07_18    87
10_15    87
06_06    86
02_15    86
Name: date of birth, dtype: int64

In [12]:
df['date of birth'].value_counts().head()

1903_01_21    2
1961_07_11    1
1958_11_18    1
1960_10_31    1
1972_05_13    1
Name: date of birth, dtype: int64

In [13]:
clean_df = pd.read_csv('clean_data.csv')
clean_df.head()

  date_of_birth  yearofbirth  monthofbirth  dayofbirth  number_of_people
0   1900_01_01      1900            1            1              8
1   1900_01_02      1900            1            2              1
2   1900_01_04      1900            1            4              1
3   1900_01_06      1900            1            6              1
4   1900_01_10      1900            1           10              1

In [14]:
clean_df.dtypes

date_of_birth       object
yearofbirth          int64
monthofbirth         int64
dayofbirth           int64
number_of_people     int64
dtype: object

In [16]:
display(clean_df.groupby('yearofbirth').count().sort_values(by=['number_of_people', 'yearofbirth'], ascending=[False, True]))

             date_of_birth  monthofbirth  dayofbirth  number_of_people
yearofbirth
1912              366            366          366            366
1916              366            366          366            366
1920              366            366          366            366
1924              366            366          366            366
1928              366            366          366            366
1932              366            366          366            366
1936              366            366          366            366
1940              366            366          366            366
1944              366            366          366            366
1948              366            366          366            366
1952              366            366          366            366
1956              366            366          366            366
1960              366            366          366            366
1964              366            366          366            366
1968              366            366          366            366
1972              366            366          366            366
1976              366            366          366            366
1980              366            366          366            366
1914              365            365          365            365
1915              365            365          365            365
1917              365            365          365            365
1918              365            365          365            365
1919              365            365          365            365
1921              365            365          365            365
1922              365            365          365            365
1923              365            365          365            365
1925              365            365          365            365
1926              365            365          365            365
1927              365            365          365            365
1929              365            365          365            365
1930              365            365          365            365
1931              365            365          365            365
1933              365            365          365            365
1934              365            365          365            365
1935              365            365          365            365
1937              365            365          365            365
1938              365            365          365            365
1939              365            365          365            365
1941              365            365          365            365
1942              365            365          365            365
1943              365            365          365            365
1945              365            365          365            365
1946              365            365          365            365
1947              365            365          365            365
1949              365            365          365            365
1950              365            365          365            365
1951              365            365          365            365
1953              365            365          365            365
1954              365            365          365            365
1955              365            365          365            365
1957              365            365          365            365
1958              365            365          365            365
1959              365            365          365            365
1961              365            365          365            365
1962              365            365          365            365
1963              365            365          365            365
1965              365            365          365            365
1966              365            365          365            365
1967              365            365          365            365
1969              365            365          365            365
1970              365            365          365            365
1971              365            365          365            365
1973              365            365          365            365
1974              365            365          365            365
1975              365            365          365            365
1977              365            365          365            365
1978              365            365          365            365
1979              365            365          365            365
1981              365            365          365            365
1910              364            364          364            364
1913              364            364          364            364
1982              360            360          360            360
1911              353            353          353            353
1909              352            352          352            352
1908              351            351          351            351
1907              334            334          334            334
1983              306            306          306            306
1906              299            299          299            299
1905              273            273          273            273
1904              232            232          232            232
1903              181            181          181            181
1902              147            147          147            147
1984              144            144          144            144
1901              139            139          139            139
1900              101            101          101            101
1999               62             62           62             62
1985               49             49           49             49
1998               36             36           36             36
1986               30             30           30             30
1990               22             22           22             22
1996               21             21           21             21
1997               18             18           18             18
1987               16             16           16             16
1995               12             12           12             12
1989               11             11           11             11
1988                9              9            9              9
1992                8              8            8              8
1991                7              7            7              7
1993                5              5            5              5
1994                5              5            5              5