In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('birthday_challenge.txt', delimiter='\t')

In [3]:
df.head()

  date of birth  number of people
0    1900_01_01                 8
1    1900_01_02                 1
2    1900_01_04                 1
3    1900_01_06                 1
4    1900_01_10                 1

In [4]:
df.tail()

      date of birth  number of people
29809    1999_11_17                 1
29810    1999_11_22                 1
29811    1999_11_28                 1
29812    1999_12_02                 1
29813    1999_12_20                 1

In [5]:
print(df.sort_values(by='number of people', ascending=False))

      date of birth  number of people
23579    1968_01_01               541
22849    1966_01_01               533
22484    1965_01_01               533
22118    1964_01_01               527
24310    1970_01_01               508
...             ...               ...
433      1903_04_21                 1
434      1903_04_24                 1
435      1903_04_25                 1
437      1903_04_27                 1
29813    1999_12_20                 1

[29814 rows x 2 columns]

In [11]:
month_nums = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
total = 0

for i in month_nums:
    matches = (df['date of birth'].str.slice(start=5,stop=7) == i) & (df['date of birth'].str.slice(start=8,stop=10) == i)
    temp_df = df[matches]
    res = temp_df['number of people'].sum()
    total += res
    print(f'Month & day {i}: {res}')
    
print('Total number of clients: ' + str(df['number of people'].sum()))
print(f'Total that fit pattern: {total}')
print('Percentage that fit pattern: ' + '{:.2%}'.format(total/df['number of people'].sum()))

Month & day 01: 19951
Month & day 02: 10436
Month & day 03: 9986
Month & day 04: 9145
Month & day 05: 8672
Month & day 06: 11061
Month & day 07: 7668
Month & day 08: 7813
Month & day 09: 7550
Month & day 10: 11235
Month & day 11: 7376
Month & day 12: 7944
Total number of clients: 2067779
Total that fit pattern: 118837
Percentage that fit pattern: 5.75%